openai~=0.27.7
xmltodict~=0.13.0
websockets~=11.0.3
flask~=2.3.2
ppasr~=2.4.5
tqdm~=4.65.0
termcolor~=1.1.0
numpy~=1.23.2
typeguard~=2.13.3
resampy~=0.4.2
soundfile~=0.12.1
scipy~=1.10.1
av~=10.0.0
zhconv~=1.4.3
pillow~=9.2.0
paddleaudio~=1.0.2
pyyaml~=5.4.1
visualdl~=2.4.2
paddlenlp~=2.5.2
onnxruntime~=1.14.1
ijson~=3.1.4
pydub~=0.25.1
setuptools~=67.7.2
future~=0.18.3
pyaudio~=0.2.13
soundcard~=0.4.2
requests~=2.29.0
pydot~=1.4.2
spacy~=3.5.2
jieba~=0.42.1