<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatGBT-行为树生成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="record.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 头-->
<div id="header">
    <h1>C</h1>
    <h1>H</h1>
    <h1>A</h1>
    <h1>T</h1>
    <h1>G</h1>
    <h1>B</h1>
    <h1>T</h1>
</div>
<!-- 主题 -->
<div id="content">
    <!--  选择部分，可以选择输入录音文件，也可以点击录音  -->
    <div class="select clearfix">
        <div class="recognize">
            <h1 class="recognize">File Recognition：</h1>
            <a id="upload" onclick="uploadAudioFile()" class="file">Short Audio</a>
            <a id="upload_long" onclick="uploadLongAudioFile()" class="file">Long Audio</a>
        </div>
        <div class="recording">
            <h1>Audio Input：</h1>
            <img id="record_btn" onclick="record()" src="record.png" alt="录音"/>
        </div>
    </div>

    <div class="display">
        <div id="result">
            <h1 class="text">Task Description</h1>
            <textarea id="result_p" onkeydown="enterBtn(event.keyCode)"></textarea>
            <h1 class="text">ChatGBT Reply</h1>
            <textarea id="result_chatgbt" readonly="readonly" placeholder="bot: Say something"></textarea>
        </div>
        <div id="bt_result">
            <h1 class="text">Behavior Tree Result</h1>
            <img id="bt_img" src="bts/test2.png">
        </div>
    </div>
</div>

<script>
    var is_recording = false;
    var host = location.origin;
    var recorder;
    var textarea = document.getElementById('result_p')
    var behavior_img = document.getElementById("bt_img")

    // 唤醒词
    const wake_list = ["笨笨", "jayden"]
    var is_wake = false;
    // 任务描述结束词
    const task_end_list = ["结束", "执行", "开始"]
    var is_task_end = false;
    // 是否有子树

    function enterBtn(a) {
        // 将Task Description 语音翻译的文本  显示在ChatGBT Reply中
        if (a == 13) { // 13表示是回车键
            asr_result = document.getElementById("result_p").value;
            // 判断文字是否是唤醒词
            if (wake_list.some(item => asr_result(item))) {
                is_wake = true;
                document.getElementById("result_chatgbt").append("you: " + asr_result + "\n");
                document.getElementById("result_chatgbt").append("bot: I'm here. How can I help you ^_^ ???" + "\n");
                return;
            }
            // 判断是否是任务描述结束的关键词
            if (task_end_list.some(item => asr_result(item))) {
                is_task_end = true
                document.getElementById("result_chatgbt").append("you: " + asr_result + "\n");
                document.getElementById("result_chatgbt").append("bot: Please name this task. I will be stronger. ^_^" + "\n");
                return;
            }

            // 唤醒后的逻辑
            if (is_wake) {
                document.getElementById("result_chatgbt").append("you: " + asr_result + "\n");
                // 调用后台服务生成行为树基元，并将生成的图片加载到页面上
                try {
                    //发送文本到后端服务
                    const response = fetch('/generate-image', {
                        method: 'Post',
                        body: JSON.stringify({asr_result}),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    // 将响应内容作为blob获取
                    const blob = response.blob();

                    // 生成blob的URL
                    const imageUrl = URL.createObjectURL(blob);

                    // 将图片URL赋值给img元素的src属性，以显示从后端服务获取的图像
                    behavior_img.src = imageUrl;
                } catch (error) {
                    console.error("There was a problem")
                }
            }
            // 任务结束逻辑
            if (is_task_end){
                // 为任务命名，并且将BT变为空
            }

        }
    }


    function record() {
        if (is_recording) {
            is_recording = false;
            stopRecording()
            document.getElementById('record_btn').src = 'record.png'
        } else {
            is_recording = true;
            startRecording()
            document.getElementById('record_btn').src = 'recording.gif'
        }
    }

    // 开始录音
    function startRecording() {
        let url = 'ws://' + location.hostname + ':5001';
        PPASRRecorder.get(function (record) {
            recorder = record;
        }, url, textarea);
    }

    // 停止录音
    function stopRecording() {
        recorder.stop();
    }

    // 上传短语音
    function uploadAudioFile() {
        var input = document.createElement("input");
        input.type = "file";
        input.accept = "audio/*";
        input.click();
        input.onchange = function () {
            var file = input.files[0];
            upload_file(host + "/recognition", file, function (state, e) {
                switch (state) {
                    case 'uploading':
                        var percentComplete = Math.round(e.loaded * 100 / e.total) + '%';
                        console.log(percentComplete);
                        break;
                    case 'ok':
                        console.log(e.target.responseText)
                        textarea.innerText = e.target.responseText
                        break;
                    case 'error':
                        alert("上传失败");
                        break;
                    case 'cancel':
                        alert("上传被取消");
                        break;
                }
            });
        }
    }

    // 上传长语音
    function uploadLongAudioFile() {
        var input = document.createElement("input");
        input.type = "file";
        input.accept = "audio/*";
        input.click();
        input.onchange = function () {
            var file = input.files[0];
            upload_file(host + "/recognition_long_audio", file, function (state, e) {
                switch (state) {
                    case 'uploading':
                        var percentComplete = Math.round(e.loaded * 100 / e.total) + '%';
                        console.log(percentComplete);
                        break;
                    case 'ok':
                        console.log(e.target.responseText)
                        textarea.innerText = e.target.responseText
                        break;
                    case 'error':
                        alert("上传失败");
                        break;
                    case 'cancel':
                        alert("上传被取消");
                        break;
                }
            });
        }
    }

    // 上传音频文件
    upload_file = function (url, file, callback) {
        var fd = new FormData();
        // 上传的文件名和数据
        fd.append("audio", file);
        var xhr = new XMLHttpRequest();
        xhr.timeout = 60000
        if (callback) {
            xhr.upload.addEventListener("progress", function (e) {
                callback('uploading', e);
            }, false);
            xhr.addEventListener("load", function (e) {
                callback('ok', e);
            }, false);
            xhr.addEventListener("error", function (e) {
                callback('error', e);
            }, false);
            xhr.addEventListener("abort", function (e) {
                callback('cancel', e);
            }, false);
        }
        xhr.open("POST", url);
        xhr.send(fd);
    }
</script>

</body>
</html>